.footer {
    width: 100%;
    padding: 6px 15px;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #5EA2E4;

    position: sticky;
    bottom: 10px;


    font-family: "NoseTransport";
    font-size: 15px;
    color: #FFFFFF73;
}

.footer_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}